<div class="content__item content__item--quote">
    <div class="content__item--quote__quote">
        {{& text}}
    </div>
    <div class="content__item--quote__from">
        {{& signature}}
    </div>
</div>
