<div class="content__item content__item--dailymotion content__item--has-iframe s16x9">
    <iframe frameborder="0" src="//www.dailymotion.com/embed/video/{{videoId}}" allowfullscreen></iframe>
</div>
