<div class="content__item content__item--simple content__item--iframe">
    <iframe src="{{iframe}}" class="iframeWrap fit-content" width="100%" scrolling="no" frameborder="0" border="0" marginwidth="0" marginheight="0"></iframe>
</div>