<div class="content__item content__item--simple--image">
    {{#image}}
        <img src="static/upload/{{image}}">
    {{/image}}
    {{#caption}}
        <span>{{caption}}</span>
    {{/caption}}
</div>
