<div class="content__item content__item--instagram">
    <div class="content__item--instagram__img">
      {{#image}}
          <img src="{{image}}">
      {{/image}}
    </div>
    <div class="content__item--instagram__from">
        <i class="fa fa-instagram"></i>&nbsp;<a href="{{url}}" target="_blank">{{fromname}}</a>
    </div>
</div>
