<div class="content__item content__item--tweet">
    <div class="content__item--tweet__tweet">
        {{text}}
        {{#link}}
            <a href="{{linkUrl}}" target="_blank">{{linkDisplay}}</a>
        {{/link}}
    </div>
    {{#image}}
        <div class="content__item--tweet__img">
            <img src="{{image}}">
        </div>
    {{/image}}
    <div class="content__item--tweet__metadata">
        <a href="https://twitter.com/{{fromscreenname}}/status/{{id}}" target="_blank">{{date}}</a><br>
        <i class="fa fa-twitter"></i>&nbsp;<a href="https://twitter.com/{{fromscreenname}}" target="_blank">@{{fromscreenname}}</a>
    </div>
    <div class="content__item--tweet__from">
        {{fromname}}
        <img src="{{picture}}">
    </div>
</div>
